html,body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
a {text-decoration: none;color: black;}
li {list-style-type: none;}
/* главный блок */
main {
  position: absolute;
  width: 500%;
  height: 100%;
  display: flex;
  /* transition: .5s ease-in-out; */
}
/* меню */
nav {
  left: 70%;
  top: -1%;
  z-index: 1;
  display: flex;
  position: fixed;
  text-align: center;
  align-items: center;
  align-self: center;
}
nav ul {
  display: flex;
}
nav ul li  {
  white-space: nowrap;
  margin-right: 20%;
}
nav a h1 {font-size: 14px;}
.border {
  border-bottom: 2px solid black;
}
/* страницы */
section {
  width: 20%;
  height: 100%;
}
.main{background-color: #FF9E77;}
.about{background-color: #FFE877;}
.services{background-color: #C9FF77;}
.portfolio{background-color: #77C6FF;}
.contacts{background-color: #C977FF;}
