html,body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
a {text-decoration: none;color: black;}
h1 {font-weight: 500;font-size: 14px;margin: 0;padding: 0;}
li {list-style-type: none;}
/* главный блок */
main {
  position: absolute;
  width: 500%;
  height: 100%;
  display: flex;
  /* transition: .5s ease-in-out; */
}
/* меню */
.logo {
  cursor: pointer;
  z-index: 2;
  position: fixed;
  margin: 1%;
  width: 40px;
  height: 40px;
  background-color: red;
}
nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-top: 2%;
}
nav .contText ul {
  display: flex;
 margin:0;
 padding:0;
 width: 30%;
 margin-right: 4%;
}

nav
/* меню текст */
.contText {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.contText ul {
  margin-right: 4%;
  width: 30%;
}
nav .contText ul li  {
  white-space: nowrap;
  padding:0;
  cursor: pointer;
  width: 25%;
  text-align: center;
}
/* полоса прокрутки */
.cont {
  height: 2px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.cont .cont2 {
  margin-right: 4%;
  width: 30%;
}
.cont2 .slider {
  width: 0;
  height: 2px;
  background-color: black;
}
/* страницы */
section {
  width: 20%;
  height: 100%;
}
.main{background-color: #FF9E77;}
.about{background-color: #FFE877;}
.services{background-color: #C9FF77;}
.portfolio{background-color: #77C6FF;}
.contacts{background-color: #C977FF;}
