html,body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
a {text-decoration: none;color: black;}
h1 {font-size: 14px;margin: 0;padding: 0;}
li {list-style-type: none;}
div {font-size: 19.8px;}
/* главный блок */
main {
  position: absolute;
  width: 500%;
  height: 100%;
  display: flex;
  /* transition: .5s ease-in-out; */
}
/* меню */
.logo {
  cursor: pointer;
  z-index: 2;
  position: fixed;
  margin: 1%;
  width: 40px;
  height: 40px;
  background-color: red;
}
nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-top: 2%;
}
nav .contText ul {
  display: flex;
 margin:0;
 padding:0;
 width: 30%;
 margin-right: 4%;
}
/* меню текст */
.contText {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.contText ul {
  margin-right: 4%;
  min-width: 576px;
}
nav .contText ul li  {
  white-space: nowrap;
  padding:0;
  cursor: pointer;
  width: 25%;
  text-align: center;
}
/* полоса прокрутки */
.cont {
  height: 2px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.cont .cont2 {
  margin-right: 4%;
  min-width: 576px;
}
.cont2 .slider {
  width: 0;
  height: 2px;
  background-color: black;
}
/* страницы */
section {
  width: 20%;
  height: 100%;
}
/* ВЕСЬ БЛОК ПРОКРУТКИ СЕРВИСОВ */
.main{background-color: #FF9E77;}
/* БЛОК О СЕБЕ */
.about{background-color: #FFE877;}
/* УСЛУГИ */
.services{
  background-color: #C9FF77;
}
.container {
  margin-top: 6%;
  margin-left: 11%;
  margin-right: 11%;
  height: 80%;
}
.text {
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 95%;
}
.childContainer {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block {
  margin-top: 1.5%;
  margin-right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 24%;
  flex-shrink: 1;
  flex-grow: 1;
  /* Шрифты */
  background-color: grey;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}
.block:nth-child(4) {
  margin-right: 0;
}
@media (max-width: 933px) {
  .second .block:nth-child(3){
    margin-right: 0;
  }
}
@media (max-width: 882px) {
  .first .block:nth-child(3){
    margin-right: 0;
  }
}
@media (max-width: 598px) {
  .first .block:nth-child(2), .second .block:nth-child(2) {
    margin-right: 0;
  }
}
@media (max-width: 584px) {
  .first .block:nth-child(3){
    margin-right: 1%;
  }
  .second .block:nth-child(3){
    margin-right: 1%;
  }
}
@media (max-width: 414px) {
  .block{
    flex-basis: 100%;
  }
  .first .block:nth-child(1), .first .block:nth-child(2), .first .block:nth-child(3), .second .block:nth-child(1), .second .block:nth-child(2), .second .block:nth-child(3) {
    margin-right: 0;
  }
}
@media (max-width: 375px) {
  .block{
    flex-basis: 100%;
  }
  .first .block:nth-child(1), .first .block:nth-child(2), .first .block:nth-child(3), .second .block:nth-child(1), .second .block:nth-child(2), .second .block:nth-child(3) {
    margin-right: 0;
  }
}
/* Стили для блоков */

/* ПОРТФОЛИО */
.portfolio{background-color: #77C6FF;}
/* КОНТАКТЫ */
.contacts{background-color: #C977FF;}
